<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Parminder Reyat's Portfolio Website</title>
  <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
</head>
<body style = "background-color: #40E0D0;">

  <header>
    <h3>Parminder Reyat</h3>
    <nav style = "text-align: right;">
      <h4>Bio</h4>
      <h4>Projects</h4>
      <h4>Links</h4>
    </nav>
  </header>

  <div class = "card-body" align = "center">
    <div class = "col-9">
      <h1 style = "text-align: center;">Bio</h1>
      <section>
        <p align = "text-justify">
          As a physics graduate, my interest in the technical side of life is cemented. I've been interested in programming since the first year of university.
          After learning C++, my interest for programming expanded. Initially, I wanted to go into games development but after learning the universe of computing, I wanted to experience more. 
        </p>
      </section>
    </div>
    <div class = "card-body">
      <h1 style = "text-align: center;">Projects</h1>
    </div>
    <div class = "card-body">
      <h1 style = "text-align: center;">Links</h1>
      <a href = "https://www.linkedin.com/mwlite/in/parminder-reyat-2a78a084" target = "_blank">LinkedIn</a><br/>
      <a href = "https://github.com/psreyat" target = "_blank">GitHub</a>
    </div>
  </div>

  <router-outlet></router-outlet>
</body>
</html>