<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Parminder Reyat's Portfolio Website</title>
 </head>
<body style = "width: 100vw; min-height: 100vh;">

  <header style = "padding-bottom: 10px; padding-left: 10px;">
    <h3>Parminder Reyat</h3>
    <a href = "https://www.linkedin.com/mwlite/in/parminder-reyat-2a78a084" target = "_blank">LinkedIn</a> |
    <a href = "https://github.com/psreyat" target = "_blank">GitHub</a>
  </header>

  <!--Bio section-->
  <div class = "card-body" align = "center">
    <div id = "bio" class = "col-9">
      <h1 style = "text-align: center;"><u>Bio</u></h1>
      <section>
        <p align = "text-justify">
          As a physics graduate, my interest in the technical side of life is cemented. I've been interested in programming since the first year of university.
          After learning C++, my interest for programming expanded. Initially, I wanted to go into games development but after learning the universe of computing, I wanted to experience more. 
        </p>
      </section>
    </div>
    <!--Bio section-->

    <!--Projects section-->
    <div id = "projects" class = "card-body">
      <h1 style = "text-align: center;"><u>Projects</u></h1>

      <!--Carousel Bootstrap-->
      <div id = "project_carousel" class = "carousel slide" data-ride = "carousel">
        <ol class="carousel-indicators">
          <li data-target="#project_carousel" data-slide-to="0" class="active"></li>
          <li data-target="#project_carousel" data-slide-to="1"></li>
          <li data-target="#project_carousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <input type = "image" src = "assets/weatherapisearchpage.png" width = "800" height = "500" class = "btnTxt submit" data-toggle = "modal" data-target = "#weatherapi_modal"/>
          </div>
          <div class="carousel-item">
            <input type = "image" src = "assets/mediashopitemlistpage.png" width = "800" height = "500" class = "btnTxt submit" data-toggle = "modal" data-target = "#mediashop_modal"/>
          </div>
          <div class="carousel-item">
            <input type = "image" src = "assets/laqdp.png" width = "800" height = "200" class = "btnTxt submit" data-toggle = "modal" data-target = "#laqvs_modal"/>
          </div>
        </div>

        <a class="carousel-control-prev" href="#project_carousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#project_carousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
        <!--Carousel Bootstrap-->

      </div>
      <!--Projects section-->

      <!--Weather API modal window-->
      <div class="modal fade" id="weatherapi_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Weather API</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <video width = "800" height = "500" controls autoplay loop>
                <source src = "assets/weatherapivideoshowcase.mp4" type = "video/mp4">
              </video>
            </div>
          </div>
        </div>
      </div>
      <!--Weather API modal window-->

      <!--Media Shop modal window-->
      <div class="modal fade" id="mediashop_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Media Shop</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <video width = "800" height = "500" controls autoplay loop>
                <source src = "assets/mediashopvideoshowcase.mp4" type = "video/mp4">
              </video>
            </div>
          </div>
        </div>
      </div>
      <!--Media Shop modal window-->

      <!--Linear and Quadratic Factoriser and Solver modal window-->
      <div class="modal fade" id="laqvs_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Linear and Quadratic Factoriser and Solver</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <video width = "800" height = "500" controls autoplay loop>
                <source src = "assets/laqvs.mp4" type = "video/mp4">
              </video>
            </div>
          </div>
        </div>
      </div>
      <!--Linear and Quadratic Factoriser and Solver modal window-->

    </div>
  </div>
</body>
</html>